@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Set a new password";

    var loginImg = ViewData["loginImg"];
    var username = ViewData["username"];
    var siteKey = ViewData["siteKey"];

    var PASSWORD_INPUT_MIN_LENGTH = Configuration.GetValue<string>("Validation:PASSWORD_INPUT_MIN_LENGTH");
    var PASSWORD_INPUT_MAX_LENGTH = Configuration.GetValue<string>("Validation:PASSWORD_INPUT_MAX_LENGTH");
}

<style>
    #login-page {
        background-image: url(@(Url.Content("~/assets/media/auth/") + loginImg));
        background-position: center;
        background-size: cover;
    }

    [data-bs-theme="dark"] #login-page {
        background-image: url('/assets/media/auth/bg4-dark.jpg');
    }
</style>

<!--begin::Authentication - Sign-in -->
<div class="d-flex flex-column flex-column-fluid flex-lg-row" id="login-page">
    <!--begin::Aside-->
    <div class="d-flex flex-center w-lg-50 pt-15 pt-lg-0 px-10">
        <!--begin::Aside-->
        <div class="d-flex flex-center flex-lg-start flex-column">
            <!--begin::Logo-->
            <a class="mb-7" href="@Url.Action("Login", "Account")">
                @*<img alt="Logo" id="logoImage" src="~/assets/media/top-logo-dark.png" />*@
            </a>
            <!--end::Logo-->
            <!--begin::Title-->
            @*<h2 class="text-white fw-normal m-0">Branding tools designed for your business</h2>*@
            <!--end::Title-->
        </div>
        <!--begin::Aside-->
    </div>
    <!--begin::Aside-->
    <!--begin::Body-->
    <div class="d-flex flex-column-fluid flex-lg-row-auto justify-content-center justify-content-lg-end p-12 p-lg-20">
        <!--begin::Card-->
        <div class="bg-body d-flex flex-column align-items-stretch flex-center rounded-4 w-md-600px p-20" id="kt_reset_password_main">
            <div class="blur-filter"></div>
            <!--begin::Wrapper-->
            <div class="d-flex flex-center flex-column flex-column-fluid px-lg-10 pb-15 pb-lg-20" id="viewContainer">
                <!--begin::Form-->
                <form class="form w-100" action="@Url.Content("~/Account/ChangeSelfPasswordReg")" method="POST" id="ChangeSelf_Password_form" novalidate="novalidate">
                    <!--begin::Heading-->
                    <div class="text-center mb-11">
                        <!--begin::Title-->
                        <h1 class="text-dark fw-bolder mb-3"> @ViewData["Title"]</h1>
                        <!--end::Title-->
                    </div>
                    <!--begin::Heading-->
              @*      <!--begin::Input group=-->
                    <div class="fv-row mb-6">
                        <!--begin::Password-->
                        <label class="required input_label mb-2">Old Password</label>
                        <input id="oldPassword" name="oldPassword" class="form-control" type="password" placeholder="Enter Old Password" autocomplete="new-password">
                        <!--end::Password-->
                    </div>
                    <!--end::Input group=-->
                    <!--begin::Input group=-->
                    <div class="fv-row mb-6">
                        <!--begin::Password-->
                        <label class="required input_label mb-2">New Password</label>
                        <input id="newPassword" name="newPassword" class="form-control" type="password" placeholder="Enter New Password" autocomplete="new-password">
                        <!--end::Password-->
                    </div>
                    <!--end::Input group=-->
                    <div class="fv-row mb-4">
                        <!--begin::Password-->
                        <label class="required input_label mb-2">Confim New Password</label>
                        <input id="confirmNewPassword" name="confirmNewPassword" class="form-control" type="password" placeholder="Enter New Password" autocomplete="new-password">
                        <!--end::Password-->
                    </div>
                    <!--end::Input group=-->*@
                    <!--begin::Main wrapper-->
                    <div class="fv-row mb-4" data-kt-password-meter="true">
                        <label class="required input_label mb-2">Old Password</label>
                        <div class="position-relative mb-3">
                            <input id="oldPassword" name="oldPassword" class="form-control" type="password" placeholder="Enter Old Password" autocomplete="new-password">
                            <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                                <i class="ki-duotone ki-eye-slash fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                                <i class="ki-duotone ki-eye d-none fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                            </span>
                        </div>
                    </div>
                    <!--end::Main wrapper-->
                    <!--begin::Main wrapper-->
                    <div class="fv-row mb-4" data-kt-password-meter="true">
                        <label class="required input_label mb-2">New Password</label>
                        <div class="position-relative mb-3">
                            <input id="newPassword" name="newPassword" class="form-control" type="password" placeholder="Enter New Password" autocomplete="new-password">
                            <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                                <i class="ki-duotone ki-eye-slash fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                                <i class="ki-duotone ki-eye d-none fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                            </span>
                        </div>
                    </div>
                    <!--end::Main wrapper-->
                    <!--begin::Main wrapper-->
                    <div class="fv-row mb-4" data-kt-password-meter="true">
                        <label class="required input_label mb-2">Confim New Password</label>
                        <div class="position-relative mb-3">
                            <input id="confirmNewPassword" name="confirmNewPassword" class="form-control" type="password" placeholder="Enter New Password" autocomplete="new-password">
                            <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                                <i class="ki-duotone ki-eye-slash fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                                <i class="ki-duotone ki-eye d-none fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                            </span>
                        </div>
                    </div>
                    <!--end::Main wrapper-->
                    <!--begin::Submit button-->
                    <div class="d-grid mb-10 mt-10">
                        <button type="submit" id="ChangeSelf_PasswordReg_save" class="btn btn-primary" disabled>
                            <!--begin::Indicator label-->
                            <span class="indicator-label">Save</span>
                            <!--end::Indicator label-->
                            <!--begin::Indicator progress-->
                            <span class="indicator-progress">
                                Please wait...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                            <!--end::Indicator progress-->
                        </button>
                    </div>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Wrapper-->

        </div>
        <!--end::Card-->
    </div>
    <!--end::Body-->
</div>
@if (@ViewData["isActiveCAPTCHA"] == "true")
{
    <text>@Html.Hidden("RecaptchaToken", "")</text>
    @Html.Hidden("siteKey", @siteKey)
}

@Html.AntiForgeryToken()
@Html.Hidden("routUrl", Url.Content("~/"))
@Html.Hidden("username", @username)

@section Scripts {
<script type="text/javascript">
    var VAR_CAPTCHA_ACTIVATE = "@(Configuration.GetSection("MyConfiguration")["VAR_CAPTCHA_ACTIVATE"] !=null ? Configuration.GetSection("MyConfiguration")["VAR_CAPTCHA_ACTIVATE"].ToString().ToLower() : "false")";
    var PASSWORD_INPUT_MIN_LENGTH = @PASSWORD_INPUT_MIN_LENGTH;
    var PASSWORD_INPUT_MAX_LENGTH = @PASSWORD_INPUT_MAX_LENGTH;
</script>
    @if (Configuration.GetSection("MyConfiguration")["VAR_CAPTCHA_ACTIVATE"] != null && Configuration.GetSection("MyConfiguration")["VAR_CAPTCHA_ACTIVATE"].ToString().ToLower() == "true")
    {
<script src="https://www.google.com/recaptcha/api.js?render=@siteKey"></script>
    }
<script src="~/js/Account/activation.js" type="text/javascript" asp-append-version="true"></script>
}
