@{
    var controllerName = HelperExtensions.GetRequiredString(Html.ViewContext.RouteData, "controller");

    var userAction = ViewData["UserAction"]?.ToString();
    var title = ViewData["Title"]?.ToString();

    var actionTitle = userAction == "edit"
        ? string.Format("{0} {1}", Localizer["Edit"].Value, title ?? string.Empty)
        : Localizer["AddNew"].Value;

    var Info = (dynamic)ViewData["Info"];
    string id = userAction == "edit" ? (string)ViewData["id"] : "";

    var titleAnnouncement = "";
    var content = "";
    var description = "";
    var date = "";
    var urls = "";

    if (userAction == "edit" && Info != null)
    {
        titleAnnouncement = Info.title;
        content = Info.content;
        description = Info.description;
        date = Info.date;
    }
}

@section PageStyles{
<style>
    div#htmlcontent {
        border: 1px solid var(--bs-gray-300);
        height: auto !important;
    }

    .ql-toolbar.ql-snow {
        border: 1px solid var(--bs-gray-300) !important;
    }

</style>
}
<a href="@(Url.Content("~/"+controllerName))" class="back-btn" style="display:none;"></a>

<div class="d-flex flex-column flex-column-fluid">
    <div id="kt_app_toolbar" class="app-toolbar  py-3 py-lg-6 ">
        <!--begin::Toolbar-->
        <!--begin::Toolbar container-->
        <div id="kt_app_toolbar_container" class="app-container d-flex flex-stack ">
            <!--begin::Page title-->
            <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3 ">
                <!--begin::Title-->
                <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">
                    @ViewData["Title"]
                </h1>
                <!--end::Title-->
                <!--begin::Breadcrumb-->
                <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-muted">
                        <a href="@(Url.Content("~/"+controllerName))" class="text-muted text-hover-primary">
                            @ViewData["Title"]
                        </a>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item">
                        <span class="bullet bg-gray-400 w-5px h-2px"></span>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-muted">
                        @actionTitle
                    </li>
                    <!--end::Item-->

                </ul>
                <!--end::Breadcrumb-->
            </div>
            <!--end::Page title-->
        </div>
        <!--end::Toolbar container-->
    </div>
    <!--end::Toolbar-->
    <!--begin::Content container-->
    <div id="kt_app_content" class="app-content  flex-column-fluid ">
        <div id="kt_app_content_container" class="app-container">
            <!--begin::Contacts App- Add New Contact-->
            <div class="row g-7">
                <!--begin::Content-->
                <!--begin::Contacts-->
                <div class="card card-flush h-lg-100" id="kt_users_main">
                    <!--begin::Card body-->
                    <div class="card-body">
                        <!--begin::Form-->
                        <form id="kt_user_form" class="form" autocomplete="off">

                            <div class="row">
                                <div class="col-sm-12 col-md-6 mb-5 fv-row">
                                    <label class="required input-label mb-2">@Localizer["Title"]</label>
                                    <input id="title" name="title" class="form-control" maxlength=200 type="text" placeholder="@Localizer["EnterTitle"]" value="@Html.Raw(@titleAnnouncement)">
                                </div>

                                <div class="col-sm-12 col-md-6 mb-5 fv-row">
                                    <label class="required input-label mb-2">@Localizer["Description"]</label>
                                    <input id="description" name="description" class="form-control" maxlength=500 type="text" placeholder="@Localizer["EnterDescription"]" value="@Html.Raw(@description)">
                                </div>

                                <div class="col-sm-12 col-md-6 mb-5 fv-row">
                                    <label for="content" class="required input-label mb-2">@Localizer["Content"]</label>
                                    <div data-bs-theme="light">
                                        <textarea name="content" id="content">
                                            @content
                                        </textarea>
                                    </div>

                                </div>

                                <div class="col-sm-12 col-md-6 mb-6 fv-row">
                                    <label for="blogdate" class="input-label required mb-2">@Localizer["Date"]</label>
                                    <input id="announcementdate" name="announcementdate" class="form-control" type="text" placeholder="@Localizer["EnterDate"]" value="@Html.Raw(@date)">
                                </div>
                            </div>
                            <div class="row">
                                <div class="fv-row">
                                    <!--begin::Dropzone-->
                                    <div class="dropzone" id="kt_dropzonejs_announcement">
                                        <!--begin::Message-->
                                        <div class="dz-message needsclick">
                                            <i class="ki-duotone ki-file-up fs-3x text-primary"><span class="path1"></span><span class="path2"></span></i>

                                            <!--begin::Info-->
                                            <div class="ms-4">
                                                <h3 class="fs-5 fw-bold text-gray-900 mb-1">@Localizer["DropZoneTitle1"]</h3>
                                                <span class="fs-7 fw-semibold text-gray-500">Upload up to 10 files</span>
                                            </div>
                                            <!--end::Info-->
                                        </div>
                                    </div>
                                    <!--end::Dropzone-->
                                </div>
                            </div>

                            <div class="separator mb-6"></div>
                            <!--end::Separator-->
                            <!--begin::Action buttons-->
                            <div class="d-flex justify-content-end">
                                <!--begin::Button-->
                                <button type="reset"
                                        onclick="window.location.href='@Url.Content("~/"+controllerName)'"
                                        id="kt_modal_cancel" class="btn btn-light me-3">
                                    @Localizer["Discard"]
                                </button>
                                <!--end::Button-->
                                <!--begin::Button-->
                                <button type="submit" id="kt_user_modal_submit" class="btn btn-primary">
                                    <span class="indicator-label">@Localizer["Submit"]</span>
                                    <span class="indicator-progress">
                                        @Localizer["PleaseWait..."]
                                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                    </span>
                                </button>
                                <!--end::Button-->
                            </div>
                            <!--end::Action buttons-->
                        </form>
                        <!--end::Form-->
                    </div>
                    <!--end::Card body-->
                </div>
                <!--end::Contacts-->
            </div>
            <!--end::Content-->
            <!--end::Contacts App- Add New Contact-->
        </div>
        <!--end::Content container-->
    </div>
</div>

@Html.AntiForgeryToken()
@Html.Hidden("routUrl", Url.Content("~/"))
@Html.Hidden("idads", @id)
@Html.Hidden("actionName", @userAction)

@section Scripts {
<environment>
    <script src="~/assets/plugins/custom/ckeditor/ckeditor-classic.bundle.js"></script>
    <script src="~/js/Announcement/create.js" type="text/javascript" asp-append-version="true"></script>
</environment>
}