@{
    var permissions = ViewData["permissions"] as Dictionary<string, bool>;

    var isAddCorporateService = permissions["canAdd"];
    var isEditCorporateService = permissions["canUpdate"];
    var isDeleteCorporateService = permissions["canDelete"];

    var controllerName = HelperExtensions.GetRequiredString(Html.ViewContext.RouteData, "controller");

    var c_list = (dynamic)ViewData["corporateGroups"] == null ? new List<dynamic>() : (dynamic)ViewData["corporateGroups"];
    var s_list = (dynamic)ViewData["services"] == null ? new List<dynamic>() : (dynamic)ViewData["services"];
    var serializedServiceList = Newtonsoft.Json.JsonConvert.SerializeObject(s_list); ;
}
@section PageStyles{
<link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
}

<div class="app-main flex-column flex-row-fluid user_list " id="kt_app_main">


    <!--begin::Content wrapper-->
    <div class="d-flex flex-column flex-column-fluid">
        <!--begin::Toolbar-->
        <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
            <!--begin::Toolbar container-->
            <div id="kt_app_toolbar_container" class="app-container d-flex flex-stack">
                <!--begin::Page title-->
                <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                    <!--begin::Title-->
                    <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">@Localizer["CorporateServiceList"]</h1>
                    <!--end::Title-->
                </div>
                <!--end::Page title-->

            </div>
            <!--end::Toolbar container-->
        </div>
        <!--end::Toolbar-->
        <!--begin::Content-->
        <div id="kt_app_content" class="app-content flex-column-fluid">
            <!--begin::Content container-->
            <div id="kt_app_content_container" class="app-container">
                <!--begin::Card-->
                <div class="card" id="mainData">
                    <!--begin::Card header-->
                    <div class="card-header border-0 pt-6">
                        <!--begin::Card title-->
                        <div class="card-title row w-100">
                            <div class="col-sm-12 col-md-2 w-auto">
                                <label class="input_label mb-2 m-1">@Localizer["CorporateGroup"]</label>
                            </div>
                            <div class="col-sm-12 col-md-10">

                                <select class="form-select form-select-md" data-control="select2" name="idcorporateM" id="idcorporateM">
                                    <option value="">@Localizer["CorporateGroup"]</option>
                                    @foreach (var item in new List<dynamic>(c_list))
                                    {
                                        <option value="@Html.Raw(item.idcorporategroup)">@Html.Raw(item.groupname)</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <!--begin::Card title-->
                        <!--begin::Card toolbar-->
                        <div class="card-toolbar">
                        </div>
                        <!--end::Card toolbar-->

                    </div>
                    <!--end::Card header-->
                    <!--begin::Card body-->
                    <div class="card-body py-4" id="kt_modal_CorporateService">
                        <form id="kt_modal_CorporateService_form" class="form">
                            @Html.Hidden("idcorporate", "")
                            <div id="kt_docs_repeater_advanced" class="d-none">
                                <!--begin::Form group-->
                                <div class="form-group">
                                    <div data-repeater-list="kt_docs_repeater_advanced">
                                    </div>
                                </div>
                            </div>
                            <!--begin::Actions-->
                            <div class="text-end pt-15 d-none" id="actionBtns">
                                <button type="reset" class="btn btn-light me-3" data-kt-CorporateService-modal-action="cancel">@Localizer["Discard"]</button>

                                <button type="submit" class="btn btn-primary" data-kt-CorporateService-modal-action="submit">
                                    <span class="indicator-label">@Localizer["Submit"]</span>
                                    <span class="indicator-progress">
                                        @Localizer["PleaseWait..."]
                                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                    </span>
                                </button>

                            </div>
                            <!--end::Actions-->
                        </form>
                    </div>
                    <!--end::Card body-->
                </div>
                <!--end::Card-->
            </div>
            <!--end::Content container-->
        </div>
        <!--end::Content-->
    </div>
    <!--end::Content wrapper-->
</div>

@Html.AntiForgeryToken()
@Html.Hidden("Delete", "CorporateService/Delete")
@Html.Hidden("SectionName", "CorporateService")
@Html.Hidden("routUrl", Url.Content("~/"))

@section Scripts {
<environment>
    <script>
        var isEditCorporateService = @isEditCorporateService.ToString().ToLower();
        var isDeleteCorporateService = @isDeleteCorporateService.ToString().ToLower();
            var serviceOptions = @Html.Raw(Json.Serialize(serializedServiceList));
    </script>
    <script src="~/assets/plugins/custom/formrepeater/formrepeater.bundle.js"></script>

    <script src="~/js/CorporateService/main.js" type="text/javascript" asp-append-version="true"></script>
</environment>
}

